$flat-turquoise: #1abc9c;
$flat-green-sea: #16a085;
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;

// Blues
$flat-peter-river: #3498db;
$flat-belize-hole: #2980b9;
$flat-wet-asphalt: #34495e;
$flat-midnight-blue: #2c3e50;

// Purples
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;

// Yellows
$flat-sunflower: #f1c40f;

// Oranges
$flat-orange: #f39c12;
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;

// Reds
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;

// Grays
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;
$flat-concrete: #95a5a6;
$flat-asbestos: #7f8c8d;

// Aliases make colors easier to remember.

// Greens
$flat-green-1: $flat-turquoise;
$flat-green-2: $flat-green-sea;
$flat-green-3: $flat-emerald;
$flat-green-4: $flat-nephritis;

// Blues
$flat-blue-1: $flat-peter-river;
$flat-blue-2: $flat-belize-hole;
$flat-blue-3: $flat-wet-asphalt;
$flat-blue-4: $flat-midnight-blue;

// Purples
$flat-purple-1: $flat-amethyst;
$flat-purple-2: $flat-wisteria;

// Yellows
$flat-yellow-1: $flat-sunflower;

// Oranges
$flat-orange-1: $flat-orange;
$flat-orange-2: $flat-carrot;
$flat-orange-3: $flat-pumpkin;

// Refs
$flat-red-1: $flat-alizarin;
$flat-red-2: $flat-pomegranate;

// Grays
$flat-gray-1: $flat-clouds;
$flat-gray-2: $flat-silver;
$flat-gray-3: $flat-concrete;
$flat-gray-4: $flat-asbestos;
